body{
  background-color:#04a6eb;
  color:#fff;
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

button{
 padding:5px 20px;
 background-color:#337ab7;
 color:#fff;
 border-style:none;
}

input{
  height:20px;
}